
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */